*{
    margin: 0;
    padding: 0;
}

span{
    color: yellow;
}
h1{
    color: darkcyan;
    padding-top: 10vh;
}
.main{
    height: 100vh;
    width: 90vw;
    background-color: burlywood;
    padding-left: 10vw;
}
.img{
    width: 15vw;
}

p{
    color: white;
    padding-bottom: 2vh;
}
h2{
    color: darkcyan;
}
ul, ol{
    padding-left: 2vw;
}
a{
    color: red;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 1px solid #ddd;    
}
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd){background-color: #f3f3f3}
  th:nth-child(odd){background-color: turquoise;}
  th:nth-child(even){background-color: darkturquoise;}

  .tbh{
      margin-top: 10vh;
      text-align: center;
      font-size: 40px;
      margin-bottom: -5vh;
  }
  .tb{
      display: flex;
      justify-content: center;
      margin-top: 10vh;
  }